:root{
  --primary-leftbar:#051E34;
  --second-leftbar:#10273D;
  --prim-head:#1B72E8;
}

.site-header{
  height: 70px;
}

body{
  height: 100vh;
}

#wrapper{
  height: calc(100% - 70px);
}

.sidebar{
  background: linear-gradient(40deg, #10273D 60vh, #051E34 10vh);
  width: 150px;
  height: 100%;

  @media screen and (max-width: 768px){
    width: 75px;
      a span{
          display: none;
      }
  }

}

.icon-menu{
  @media screen and (max-width: 768px){
      span i{
          display: none;
      }
  }

}

main{
  flex-grow: 1;
  height: 100%;
  width: calc(100% - 150px);
}

.banner{
  background-color: #1B72E8;
  
}